body {
    background-color: black;
    color: white;
    text-align: center;
}

#table1 {
    border: 2px solid white;
    width: 650px;
    margin: 0 auto;
    
}
#table2 {
    border: 2px solid white;
    width: 650px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
}